@using Veridian.Web.NewCMSProject.Utilities
@{
    ViewBag.Title = "Dashboard";
    ViewBag.BodyClass = "navbar-top sidebar-xs";

    // NavClass
    // fixed-top : makes top navbar stick to top of viewport
    // navbar-slide-top : makes top navbar hide as you scroll down and appear as you scroll up

    ViewBag.NavClass = "navbar-slide-top fixed-top"; 

    Layout = "~/Views/Admin/Shared/_Layout.cshtml";
}


@section PageHeader {
    <!-- Page header -->
    <div class="page-header page-header-light  page-header-lg">
        <div class="page-header-content header-elements-md-inline">
            <div class="page-title d-flex">
                <h4><i class="icon-home4 position-left"></i> <span class="text-semibold">Dashboard</span> - Fixed Header.</h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
            <div class="heading-elements">
                <button type="button" class="btn btn-primary" id="pnotify-solid-danger">pNotify Test Launch <i class="icon-rocket ml-2"></i></button>
                <!-- Bottom right menu -->
                <ul class="fab-menu fab-menu-top" data-fab-toggle="hover">
                    <li>
                        <a class="fab-menu-btn btn bg-teal-400 btn-float rounded-round btn-icon">
                            <i class="fab-icon-open icon-paragraph-justify3"></i>
                            <i class="fab-icon-close icon-cross2"></i>
                        </a>
                        <ul class="fab-menu-inner">
                            <li>
                                <div data-fab-label="Compose email">
                                    <a href="#" class="btn btn-light rounded-round btn-icon btn-float">
                                        <i class="icon-pencil"></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div data-fab-label="Conversations">
                                    <a href="#" class="btn btn-light rounded-round btn-icon btn-float">
                                        <i class="icon-bubbles3"></i>
                                    </a>
                                    <span class="badge bg-primary-400">5</span>
                                </div>
                            </li>
                            <li>
                                <div data-fab-label="Chat with Jack">
                                    <a href="#" class="btn bg-pink-400 rounded-round btn-icon btn-float">
                                        <img src="~/Content/img/user.png" class="img-fluid rounded-circle" alt="">
                                    </a>
                                    <span class="badge badge-mark border-pink-400"></span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /bottom right menu -->
            </div>
        </div>
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                    <span class="breadcrumb-item active">Dashboard</span>
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>

    </div>
    <!-- /page header -->
}

<!-- Content area -->
<div class="content">

    <!-- Basic card -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Basic card</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="fullscreen"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h6 class="font-weight-semibold">Aliquam nec ultricies sapien</h6>
            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae blandit ligula. Aliquam nec ultricies sapien interdum ut vel nunc. Maecenas eu mattis ipsum. Quisque porttitor ipsum id nulla condimentum, non commodo dui vehicula. Etiam fringilla id quam eu fermentum. Donec vehicula ipsum ligula, a iaculis quam porttitor vel. Cras rutrum ullamcorper tincidunt. Vestibulum pretium augue lorem, et scelerisque mi ultricies vitae. Proin mollis magna nec tristique malesuada. Pellentesque sed fermentum est. Morbi a sem nec justo congue dapibus eget et lectus. Mauris laoreet tortor eleifend libero malesuada, eu dictum velit pharetra. </p>
            <h6 class="font-weight-semibold">Aliquam nec ultricies sapien</h6>
            <p class="mb-3">Nullam nec mauris metus. Aliquam nec ultricies sapien. Quisque dictum nulla id facilisis ultricies. Aliquam erat volutpat. Integer sagittis ut metus eget tincidunt. Phasellus tincidunt orci in quam fringilla, et viverra felis sodales. Nam faucibus, nisl ut pretium facilisis, lorem nunc imperdiet dui, ac ultrices libero urna tincidunt lectus. </p>
            <h6 class="font-weight-semibold">Mauris velit sem</h6>
            <p>Etiam vitae sem dui. Mauris velit sem, posuere ultricies sem eu, ornare semper eros. Pellentesque vestibulum neque elementum diam pulvinar ornare. Etiam vel arcu pharetra, eleifend eros non, molestie nisi. Quisque at sollicitudin sem. Proin nulla risus, dignissim nec quam ac, rutrum mattis libero. Sed id maximus dui. Vivamus arcu purus, pellentesque blandit est sit amet, pulvinar faucibus enim. Vivamus sed tempus ligula, eu tincidunt diam. Donec erat arcu, posuere vitae vehicula et, gravida eu neque. Quisque auctor, tortor id pharetra pellentesque, nisi sapien hendrerit lacus, nec sollicitudin quam sem et purus. Donec consectetur erat dolor. </p>
        </div>
    </div>
    <!-- /basic card -->


    <!-- Basic table -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Basic table</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="fullscreen"></a>
                </div>
            </div>
        </div>
        <div class="card-body">
           Our CMS seed project includes the most basic components that can help you in the development process - basic grid example, card, table, form and page layouts with standard components. Nothing extra. Bootstrap components are always enabled.
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr class="table-border-double">
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Eugene</td>
                        <td>Kopyov</td>
                        <td>Kopyov</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Victoria</td>
                        <td>Baker</td>
                        <td>Vicky</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>James</td>
                        <td>Alexander</td>
                        <td>Alex</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Franklin</td>
                        <td>Morrison</td>
                        <td>Frank</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /basic table -->


</div>
<!-- /content area -->